
.vs/ASP_NET_MVC_First_Week_Homework/v15/.suo
.vs/ASP_NET_MVC_First_Week_Homework/v15/Server/sqlite3/db.lock
.vs/ASP_NET_MVC_First_Week_Homework/v15/Server/sqlite3/storage.ide-shm
.vs/ASP_NET_MVC_First_Week_Homework/v15/Server/sqlite3/storage.ide-wal
.vs/ASP_NET_MVC_First_Week_Homework/v15/Server/sqlite3/db.lock
ASP_NET_MVC_First_Week_Homework/bin/ASP_NET_MVC_First_Week_Homework.dll
*.dll
ASP_NET_MVC_First_Week_Homework/obj/Debug/ASP_NET_MVC_First_Week_Homework.csproj.CoreCompileInputs.cache
*.config
